<div id="<%= dom_id congratulations_card %>">
  <p>
    <strong>Type:</strong>
    <%= congratulations_card.type %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= congratulations_card.price %>
  </p>

</div>
