<h1>Editing congratulations card</h1>

<%= render "form", congratulations_card: @congratulations_card %>

<br>

<div>
  <%= link_to "Show this congratulations card", @congratulations_card %> |
  <%= link_to "Back to congratulations cards", congratulations_cards_path %>
</div>
