<h1>Editing writing accessory</h1>

<%= render "form", writing_accessory: @writing_accessory %>

<br>

<div>
  <%= link_to "Show this writing accessory", @writing_accessory %> |
  <%= link_to "Back to writing accessories", writing_accessories_path %>
</div>
